.modal-header p {
  font-size: 0.7em;
}
.empresa,
.cargo {
  grid-column: span 3;
}
.descricao {
  grid-column: span 3;
  resize: none;
  overflow: hidden;
  min-height: 6em;
}
.checkbox {
  color: gray;
  font-size: 1em;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  input {
    height: 20px;
    width: 20%;
  }
}
.inserted-exp li {
  position: relative;
}
.remove {
  position: absolute;
  top: 0;
  right: 0;
}
