<main class="main-container">
  <section class="modal-header">
    <h2 class="modal-title">Experiências</h2>
    <p>Adicione suas experiências profissionais abaixo:</p>
  </section>
  <section class="modal-exp-content">
    <input
      class="empresa"
      [(ngModel)]="empresa"
      placeholder="Insira o nome da empresa"
    />

    <input class="cargo" [(ngModel)]="cargo" placeholder="Cargo" />

    <input
      class="data"
      type="date"
      [(ngModel)]="dataInicio"
      placeholder="Data de início"
    />

    <input
      class="data"
      type="date"
      [(ngModel)]="dataFim"
      placeholder="Data de término"
    />

    <label class="checkbox">
      Emprego atual?
      <input type="checkbox" [(ngModel)]="atual" />
    </label>
    <textarea
      class="descricao"
      [(ngModel)]="descricao"
      placeholder="Descrição"
      matInput
      cdkTextareaAutosize
    ></textarea>
  </section>

  <ng-container *ngIf="modalService.experiencias.length > 0">
    <ul class="inserted-exp">
      <li *ngFor="let exp of modalService.experiencias">
        <div class="exp-content">
          <p><strong>Empresa:</strong> {{ exp.empresa }}</p>
          <p><strong>Cargo:</strong> {{ exp.cargo }}</p>
          <p><strong>Data de início:</strong> {{ exp.dataInicio }}</p>
          <p>
            <strong>Data de término:</strong> {{ exp.atual ? 'Atual' :
            exp.dataFim }}
          </p>
          <p><strong>Descrição:</strong> {{ exp.descricao }}</p>
        </div>
        <button class="remove" (click)="btnFn.removerExp(exp) ">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"
            />
          </svg>
        </button>
      </li>
    </ul>
  </ng-container>
  <section
    class="modal-buttons"
    [ngClass]="{ 'centralizado': !exibirControles }"
  >
    <button *ngIf="exibirControles" class="back" (click)="btnFn.voltar()">
      Voltar
    </button>
    <button
      class="add"
      (click)="btnFn.adicionarExp(empresa, cargo, descricao, dataInicio, dataFim, atual);
           empresa=''; cargo=''; descricao=''; dataInicio=''; dataFim=''; atual=false;"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path
          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
        />
      </svg>
    </button>
    <button
      *ngIf="exibirControles"
      class="foward"
      (click)="btnFn.continuarPadrao()"
    >
      Avançar
    </button>
  </section>
</main>
