<main class="main-container">
  <section class="modal-header">
    <h2 class="modal-title">Experiências</h2>
    <p>Adicione suas experiências profissionais abaixo:</p>
  </section>
  <section class="modal-exp-content">
    <label class="experiencia">
      Empresa:
      <input  [(ngModel)]="empresa" placeholder="Ex: Desenvolvedor Frontend" />
    </label>
    <label class="cargo">
      Cargo:
      <input [(ngModel)]="cargo" placeholder="Ex: Empresa XYZ" />
    </label>
    <label class="descricao">
      Descrição:
      <textarea [(ngModel)]="descricao" placeholder="Ex: Desenvolvimento de aplicações web..."></textarea>
    </label>
    <label class="data">
      Data de início:
      <input type="date" [(ngModel)]="dataInicio" />
    </label>
    <label class="data">
      Data de término:
      <input type="date" [(ngModel)]="dataFim" />
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="atual" />
      Emprego atual?
      </label>


  </section>
  <section class="inserted-exp">
    <ul>
      <li *ngFor="let exp of modalService.experiencias">
        {{ exp }}
        <button class="remove" (click)="remover(exp) ">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"
            />
          </svg>
        </button>
      </li>
    </ul>
  </section>
  <section class="modal-buttons">
    <button class="back" (click)="voltar()">Voltar</button>
    <button class="add" (click)="adicionar()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path
          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
        />
      </svg>
    </button>
    <button class="foward" (click)="continuar()">Avançar</button>
  </section>
</main>
