.modal-header p {
  font-size: 0.7em;
}
.empresa,
.cargo {
  grid-column: span 3;
}
.descricao {
  grid-column: span 3;
  resize: none;
  overflow: hidden;
  min-height: 6em;
}
.checkbox {
  color: gray;
  font-size: 1em;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  input {
    height: 20px;
    width: 20%;
  }
}

.inserted-exp {
  padding: 1em 0;
  outline: 0;
  font-size: 1em;
  color: gray;
  max-height: 40vh;
  overflow-y: auto;
  border-radius: 10px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  margin: 10px 10px;

  ul {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 1em;

    li {
      min-width: 300px;
      padding: 20px 20px;
      border: 1px solid rgba(105, 105, 105, 0.397);
      border-radius: 10px;
      position: relative;
      list-style: none;
    }
  }
}

.exp-content {
  flex-direction: column;
  display: flex;
}
.remove {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  padding: 0.2em;
  svg {
    width: 30px;
    height: 30px;
  }
}
