<div class="wrapper-container">
  <app-modal-inicio *ngIf="modalService.currentStep === 0"></app-modal-inicio>
  <app-modal-experiencias
    *ngIf="modalService.currentStep === 1"
  ></app-modal-experiencias>
  <app-modal-skills *ngIf="modalService.currentStep === 2"></app-modal-skills>
  <app-modal-educacao
    *ngIf="modalService.currentStep === 3"
  ></app-modal-educacao>
  <app-modal-idiomas *ngIf="modalService.currentStep === 4"></app-modal-idiomas>
  <app-modal-print></app-modal-print>
</div>
