.modal-content,
.modal-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em;
  input {
    height: 40px;
  }
}
.modal-content ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.inserted-skills-ul li {
  display: flex;
  gap: 0.2em;
  align-items: center;
  justify-content: space-between;
  padding: .2em  .5em;
  border: 1px solid #ccc;
  border-radius: 2em;
  font-size: 0.8em;
}

.removeSkill {
  background: none;
  border: none;
  padding: 0.2em;
  width: 20px;
  height: 20px;
  cursor: pointer;
  svg {
    height: 100%;
  }
}
