<main class="main-container">
  <section class="modal-header">
    <h2 class="modal-title">Habilidades</h2>
    <section class="modal-content">
      <input [(ngModel)]="skill" placeholder="Ex: Angular, TypeScript" />

      <ng-container

        *ngIf="modalService.skills.length > 0"
      >
        <ul class="inserted-skills-ul">
          <li *ngFor="let skill of modalService.skills">
            {{ skill }}
            <button class="remove" (click)="remover(skill)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"
                />
              </svg>
            </button>
          </li>
        </ul>
      </ng-container>
    </section>
  </section>
  <section class="modal-buttons">
    <button class="back" (click)="voltar()">Voltar</button>
    <button class="add" (click)="adicionar()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path
          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
        />
      </svg>
    </button>
    <button class="foward" (click)="continuar()">Avançar</button>
  </section>
</main>
