.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-body {
  background: white;
  padding: 2rem;
  max-height: 90vh;
  overflow-y: auto;
  width: 80%;
}
