.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  width: 100%;

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
  }
  input,
  select {
    width: 500px;
  }
}
.conclusao{
gap: 2em;
display: flex;
align-items: center;
justify-content: center;
.dataConclusao input{
  margin-left: 2em;
  width: 150px;
}
.checkbox{
  display: flex;
  width: 30%;
}
}

.inserted-education li {
  position: relative;
}
.remove {
  position: absolute;
  top: 0;
  right: 0;
}
