.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  padding: 2em;
  input,
  select {
    width: 65%;
  }

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
  }
}
.conclusão{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox{
  display: flex;
  gap: 20px;
}
