<main class="main-container">
  <section class="modal-header">
    <h2 class="modal-title">Informações iniciais</h2>
  </section>
  <section class="modal-content">
    <input class="nome" [(ngModel)]="nome" placeholder="Insira seu nome" />
    <input
      class="email"
      type="text"
      [(ngModel)]="contatoEmail"
      placeholder="Email"
      required
      #ncontatoEmailRef="ngModel"
    />
    <input
      type="text"
      mask="00/00/0000"
      [(ngModel)]="nascimento"
      placeholder="DD/MM/AAAA"
      required
      #nascimentoRef="ngModel"
    />
    <input
      class="celular"
      type="text"
      mask="(00) 00000-0000"
      [(ngModel)]="contatoCel"
      placeholder="(00) 00000-0000"
      required
      #contatoCelRef="ngModel"
    />
  </section>
  <section class="modal-buttons" *ngIf="exibirControles">
    <button class="foward" (click)="btnFn.continuarInicio(nome, nascimento, contatoCel, contatoEmail )">Avançar</button>
  </section>
</main>
