<main class="main-container">
  <section class="modal-header">
    <h2 class="modal-title">Informações iniciais</h2>
  </section>
  <section class="modal-content">
    <input class="nome" [(ngModel)]="nome" placeholder="Insira seu nome" />
    <input class="email" type="text" [(ngModel)]="contatoEmail" placeholder="Email"/>
    <input class="nascimento" type="date" [(ngModel)]="nascimento"/>
    <input class="celular" type="text" mask="(00) 00000-0000" [(ngModel)]="contatoCel" placeholder="Celular"/>
  </section>
  <section class="modal-buttons">
    <button class="back" (click)="voltar()">Voltar</button>
    <button class="foward" (click)="continuar()">Avançar</button>
  </section>
</main>
