.main-container {
  border-radius: 2em;
  border: 1px solid #ccc;
  margin-top: 2em;
  padding-bottom: 4em;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 3em;
  .art1 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .art2 ul {
    display: flex;
    flex-direction: row;
  }
  .art3 ul,
  .art5 ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding: 1em 0;
    margin: 0;
  }

  .art3 li,
  .art5 li {
    flex: 1;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  h2 {
    text-align: center;
    padding-bottom: 1.2em;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.7em;
    border-top: 0.5px solid #ccc;
    border-bottom: 0.5px solid #ccc;
    margin-bottom: 1em;
    width: 100%;
  }
  .dadosIniciais,
  li {
    width: 100%;
    text-align: center;
  }
}
.expData {
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
}
.limitContent {
  border-bottom: 1px dotted black;
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-conteudo {
  background: white;
  padding: 2em;
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
}
.template-selector {
  position: fixed;
  bottom: 0;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  margin: 20px;
  width: 150px;
  .modal-buttons{
    display: flex;
    justify-content: center;
  }
}
.modal-button button {
  width: 100%;
}

@media print {
  body {
    background: white !important;
  }
  .modal-title,
  .modal-header {
    display: none;
  }
  .main-container {
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .modal-content {
    position: relative;
  }
  .art1 {
    width: 100%;
    ul {
      border: 1px solid rgb(0, 0, 0);
    }

    ul li:nth-child(1) {
      font-weight: 800;
      position: absolute;
      right: 0;
      top: 0;
    }
    h2 {
      display: none;
    }
  }

  .modal-content .button,
  .print\:hidden,
  .modal-overlay {
    display: none !important;
  }

  .modal-header,
  .modal-content article {
    page-break-inside: avoid;
  }

  .modal-title {
    font-size: 1.6rem;
    border: none;
  }

  .modal-content h2 {
    font-size: 1.1rem;
    color: #000;
  }

  .modal-content ul {
    display: block;
    padding-left: 0;
  }

  .modal-content li {
    text-align: left;
    width: 100%;
    padding-bottom: 0.5em;
  }
}
