<main class="main-container">
  <section class="modal-header">
    <h1 class="modal-title">Pré-visualização do Currículo</h1>
  </section>
  <section class="modal-content">
    <article class="art1">
      <h2>Dados Iniciais:</h2>
      <ul>
        <li class="dadosIniciais">
          <strong>Nome: </strong>{{ modalService.inicio.nome }}
        </li>
        <li class="dadosIniciais">
          <strong>Idade: </strong>{{ dadosCompletos.idade}}
        </li>
        <li class="dadosIniciais">
          <strong>Celular: </strong>{{
          formatarCelular(modalService.inicio.contatoCel) }}
        </li>
        <li class="dadosIniciais">
          <strong>Email: </strong>{{ modalService.inicio.contatoEmail }}
        </li>
      </ul>

      <button class="button" (click)="abrirModal('inicio')">Editar</button>
    </article>

    <article class="art2">
      <h2>Experiências:</h2>
      <ul *ngFor="let exp of modalService.experiencias">
        <li>Empresa: {{ exp.empresa }} <br /></li>
        <li>Cargo: {{ exp.cargo }}</li>
        <li>De: {{exp.dataInicio}} até {{exp.dataFim}}.</li>
      </ul>
      <button class="button" (click)="abrirModal('experiencias')">
        Editar
      </button>
    </article>

    <article class="art3">
      <h2>Habilidades:</h2>
      <ul>
        <li *ngFor="let skill of modalService.skills">{{ skill }}</li>
      </ul>
      <button class="button" (click)="abrirModal('Habilidades')">Editar</button>
    </article>

    <article class="art4">
      <h2>Educação:</h2>
      <ul *ngFor="let edu of modalService.educacao">
        <li>{{ edu.formacao }} - {{ edu.instituicao }}</li>
        <li>
          {{edu.estado}} |
          <strong *ngIf="edu.concluido">Conclusão:</strong>
          <strong *ngIf="!edu.concluido">Em andamento</strong>
          {{ edu.concluido ? edu.conclusao + '.' : '' }}
        </li>
      </ul>
      <button class="button" (click)="abrirModal('educacao')">Editar</button>
    </article>

    <article class="art5">
      <h2>Idiomas:</h2>
      <ul>
        <li *ngFor="let idioma of modalService.idiomas">{{ idioma }}</li>
      </ul>
      <button class="button" (click)="abrirModal('idiomas')">Editar</button>
    </article>

    <section class="modal-button">
      <button class="back" (click)="voltar()">Voltar</button>
    </section>
  </section>

  <section class="template-selector">
    <label>Modelo: </label>
    <select [(ngModel)]="templateSelecionado">
      <option value="classico">Clássico</option>
      <option value="moderno">Moderno</option>
    </select>
    <div class="modal-buttons">
      <button (click)="abrirPreview()">Visualizar</button>
    </div>
  </section>

  <div class="modal-overlay" *ngIf="modalAberto">
    <div class="modal-conteudo">
      <button class="button" (click)="fecharModal()">Fechar</button>

      <ng-container [ngSwitch]="modalAberto">
        <app-modal-experiencias
          *ngSwitchCase="'experiencias'"
          [exibirControles]="false"
        ></app-modal-experiencias>
        <app-modal-educacao
          *ngSwitchCase="'educacao'"
          [exibirControles]="false"
        ></app-modal-educacao>
        <app-modal-idiomas
          *ngSwitchCase="'idiomas'"
          [exibirControles]="false"
        ></app-modal-idiomas>
        <app-modal-inicio
          *ngSwitchCase="'inicio'"
          [exibirControles]="false"
        ></app-modal-inicio>
        <app-modal-skills
          *ngSwitchCase="'skills'"
          [exibirControles]="false"
        ></app-modal-skills>
      </ng-container>
    </div>
  </div>

  <app-modal-preview
    *ngIf="mostrarPreview"
    [template]="templateSelecionado"
    [dados]="dadosCompletos"
    (fechar)="mostrarPreview = false"
    (confirmar)="imprimir()"
  >
  </app-modal-preview>
</main>
