<main class="main-container">
  <section class="modal-header">
    <h1 class="modal-title">Pré-visualização do Currículo</h1>
  </section>
  <section class="modal-content">
    <article class="art1">
      <h2>Dados Iniciais:</h2>
      <ul>
        <li class="dadosIniciais">
          <strong>Nome: </strong>{{ modalService.inicio.nome }}
        </li>
        <li class="dadosIniciais">
          <strong>Idade: </strong>{{ modalService.idade() ?? 'Não informado'}}
        </li>
        <li class="dadosIniciais">
          <strong>Celular: </strong>{{
          formatarCelular(modalService.inicio.contatoCel) }}
        </li>
        <li class="dadosIniciais">
          <strong>Email: </strong>{{ modalService.inicio.contatoEmail }}
        </li>
      </ul>

      <button class="button" (click)="abrirModal('inicio')">Editar</button>
      <div class="limitContent"></div>
    </article>

    <article class="art2">
      <h2>Experiências:</h2>
      <ul *ngFor="let exp of modalService.experiencias">
        <li>Empresa: {{ exp.empresa }} <br /></li>
        <li>Cargo: {{ exp.cargo }}</li>
        <div class="expData">
          <li>De: {{exp.dataInicio}}</li>
          <li>Até {{exp.dataFim}}.</li>
        </div>
      </ul>
      <button class="button" (click)="abrirModal('experiencias')">
        Editar
      </button>
      <div class="limitContent"></div>
    </article>

    <article class="art3">
      <h2>Habilidades:</h2>
      <ul>
        <li *ngFor="let skill of modalService.skills">{{ skill }}</li>
      </ul>
      <button class="button" (click)="abrirModal('skills')">Editar</button>
      <div class="limitContent"></div>
    </article>
    <article class="art4">
      <h2>Educação:</h2>
      <ul>
        <li *ngFor="let edu of modalService.educacao">
          <div>
            <ng-container *ngIf="edu.tipo === 'medio'; else outrasFormacoes">
              Ensino Médio: {{ edu.concluido ? 'Completo' : 'Incompleto' }} - {{
              edu.instituicao }}
            </ng-container>
            <ng-template #outrasFormacoes>
              {{ trad(edu.tipo, mapTipo) }}: {{ edu.formacao }} - {{
              edu.instituicao }}
            </ng-template>
          </div>
          <div class="expData">
            <span>{{ edu.estado }}</span>
            <span *ngIf="edu.concluido">Conclusão: {{ edu.conclusao }}.</span>
            <span *ngIf="!edu.concluido">Em andamento</span>
          </div>
        </li>
      </ul>
      <button class="button" (click)="abrirModal('educacao')">Editar</button>
      <div class="limitContent"></div>
    </article>

    <article class="art5">
      <h2>Idiomas:</h2>
      <ul>
        <li *ngFor="let idioma of modalService.idiomas">{{ idioma }}</li>
      </ul>
      <button class="button" (click)="abrirModal('idiomas')">Editar</button>
      <div class="limitContent"></div>
    </article>

    <section class="modal-button">
      <button class="back" (click)="voltar()">Voltar</button>
    </section>
  </section>

  <section class="template-selector">
    <label>Modelo: </label>
    <select [(ngModel)]="templateSelecionado">
      <option value="classico">Clássico</option>
      <option value="moderno">Moderno</option>
    </select>
    <div class="modal-buttons">
      <button (click)="abrirPreview()">Visualizar</button>
    </div>
  </section>

  <div class="modal-overlay" *ngIf="modalAberto">
    <div class="modal-conteudo">
      <button class="button" (click)="fecharModal()">Fechar</button>

      <ng-container [ngSwitch]="modalAberto">
        <app-modal-experiencias
          *ngSwitchCase="'experiencias'"
          [exibirControles]="false"
        ></app-modal-experiencias>
        <app-modal-educacao
          *ngSwitchCase="'educacao'"
          [exibirControles]="false"
        ></app-modal-educacao>
        <app-modal-idiomas
          *ngSwitchCase="'idiomas'"
          [exibirControles]="false"
        ></app-modal-idiomas>
        <app-modal-inicio
          *ngSwitchCase="'inicio'"
          [exibirControles]="false"
        ></app-modal-inicio>
        <app-modal-skills
          *ngSwitchCase="'skills'"
          [exibirControles]="false"
        ></app-modal-skills>
      </ng-container>
    </div>
  </div>

  <app-modal-preview
    *ngIf="mostrarPreview"
    [template]="templateSelecionado"
    [dados]="dadosCompletos"
    (fechar)="mostrarPreview = false"
    (confirmar)="imprimir()"
  >
  </app-modal-preview>

  <div class="notifications" *ngIf="notificacaoAtiva">
    <div class="toast">{{ mensagemNotificacao }}</div>
  </div>
</main>
