<ng-container [ngSwitch]="tipoTemplate">
  <ng-container *ngSwitchCase="'classico'">
    <main class="template-classico">
      <section class="topo">
        <h1>{{ dados?.inicio.nome }}</h1>
        <p>{{ modalservice.idade() ?? 'Não informado'}} anos.</p>
        <p><strong>Telefone:</strong> {{ dados?.inicio.contatoCel }}</p>
        <p><strong>Email:</strong> {{ dados?.inicio.contatoEmail }}</p>
      </section>

      <section>
        <h2>Experiências</h2>
        <ul>
          <li *ngFor="let exp of dados?.experiencias">
            <strong>{{ exp.cargo }}</strong> - {{ exp.empresa }}
          </li>
        </ul>
      </section>

      <section>
        <h2>Habilidades</h2>
        <ul>
          <li *ngFor="let skill of dados?.skills">{{ skill }}</li>
        </ul>
      </section>

      <section>
        <h2>Educação</h2>
        <ul>
          <li *ngFor="let edu of dados?.educacao">
            <ng-container *ngIf="edu.tipo === 'medio'; else outrasFormacoes">
              <ul class="eduLista">
                <li>
                  <strong>Ensino Médio:</strong>
                  {{edu.concluido ? 'Completo':'Incompleto'}} -
                  {{edu.instituicao}}
                </li>
                <ul>
                  <li>Instituicao: {{edu.instituicao}}</li>
                  <strong *ngIf="edu.concluido">Conclusão:</strong>
                  <strong *ngIf="!edu.concluido">Em andamento</strong>
                </ul>
              </ul>
            </ng-container>
            <ng-template #outrasFormacoes>
              <ul class="eduLista">
                <li>
                  <strong>{{ btnFn.trad(edu.tipo, btnFn.mapTipo) }}</strong>:
                  {{edu.formacao}}
                </li>
                <ul>
                  <li>Instituicao: {{edu.instituicao}}</li>
                  <li>
                    <strong *ngIf="edu.concluido"
                      >Conclusão: {{edu.conclusao}}
                    </strong>
                    <strong *ngIf="!edu.concluido">Em andamento</strong>
                  </li>
                </ul>
              </ul>
            </ng-template>
          </li>
        </ul>
      </section>

      <section>
        <h2>Idiomas</h2>
        <ul>
          <li *ngFor="let idioma of dados?.idiomas">{{ idioma }}</li>
        </ul>
      </section>
    </main>
  </ng-container>

  <ng-container *ngSwitchCase="'moderno'">
    <main class="template-moderno">
      <header>
        <h1>{{ dados?.inicio.nome }}</h1>
        <p>{{ dados?.inicio.contatoCel }} | {{ dados?.inicio.contatoEmail }}</p>
        <p>{{ dados?.idade }} anos.</p>
      </header>

      <section>
        <h2>Resumo Profissional</h2>
        <ul>
          <li *ngFor="let exp of dados?.experiencias">
            <strong>{{ exp.cargo }}</strong> na <em>{{ exp.empresa }}</em>
          </li>
        </ul>
      </section>

      <section class="duas-colunas">
        <div>
          <h2>Skills</h2>
          <ul>
            <li *ngFor="let skill of dados?.skills">{{ skill }}</li>
          </ul>
        </div>
        <div>
          <h2>Idiomas</h2>
          <ul>
            <li *ngFor="let idioma of dados?.idiomas">{{ idioma }}</li>
          </ul>
        </div>
      </section>

      <section>
        <h2>Educação</h2>
        <ul>
          <li *ngFor="let edu of dados?.educacao">
            {{ edu.formacao }} - {{ edu.instituicao }}
          </li>
        </ul>
      </section>
    </main>
  </ng-container>
</ng-container>
