main {
  padding: 2rem;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  border: 1px solid black;
  width: 210mm;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.25em;
  color: #222;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.eduLista{
  border-bottom: 1px solid black ;
}

ul li {
  margin-bottom: 0.4rem;
}

section {
  margin-bottom: 1rem;
}

.template-classico {
  background-color: #fff;
}

.template-moderno {
  background-color: #f9f9f9;
  border-left: 6px solid #007acc;
  padding: 0 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.template-moderno header {
  background-color: #007acc;
  color: white;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.template-moderno h2 {
  color: #007acc;
}

.duas-colunas {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.duas-colunas div {
  flex: 1;
}
@media print {
  @page {
    width: 210mm;
    height: 297mm;
  }
}
